<div class="col-md-5">
  <h1><%= @actor.name %></h1>
  <br><br>
  <h4>Known For:</h4>
  <ul class="list-group">
  <% unless @actor.movies.length < 1 %>
    <% @actor.movies.order(:title).each do |m| %>
      <li class="list-group-item">
        <%= m.title %>
      </li>
    <% end %>
  <% end %>
  </ul>
</div>

<div id="actor-image" class="col-md-5">
</div>

<script>
$.ajax({
    url: 'https://www.googleapis.com/customsearch/v1?q=" <%= @actor.name %> "&callback=showActorImage&key=AIzaSyAUM6Wu4GZ-WWPud_z8_w-cgWPmVjitM80&searchType=image&cx=009116847362358943600:fff-shv6eh0',
    success: function(images) {
     // console.log(images);
   },
   error: function(response) {
     // console.log(response)
   }
 });


function showActorImage(response) {
  var div = document.getElementById("actor-image");
  console.log(response)
  div.innerHTML = "<img class='actor' src='" + response.items[0].link + "'/>";
}

</script>
