<% Movie.order(:title).each do |m| %>
    <div class="col-md-3" style="height: 400px">
      <a href="/movies/<%= m.slug %>">
        <img src="<%= m.poster %>" alt="poster"/>
      </a>
    </div>
<% end %>

