<h1>Please Log In</h1>

<form action="/movies/login" method="POST">
  <div class="form-group">
    <label for="password" >Password:</label>
    <input type="password" name="password" class="form-control" placeholder="Enter the supersecret and secure password..." />
  </div>
  <br>
  <input type="submit" class="btn btn-primary btn-lg" value="Log In" />
</form>
