<!DOCTYPE html>
<html>
  <head>
    <title>Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
      <img src="../images/movies.png" alt="movies" class="mainimage navbar-nav" />
        <div class="navbar-brand">
          <h1>Movies</h1>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/movies">All Movies</a></li>
          <li><a href="/movies/find">Find Movie</a></li>
          <li><a href="/movies/new">Add Movie</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
